body {
    font-family: Arial, sans-serif;
    background-color: #8fe779;
}

.container {
    background-color: #d4b19f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #44e8e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #3e8fdf;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #77e197;
}

.table tbody + tbody {
    border-top: 2px solid #83eeba;
}

.table-bordered {
    border: 1px solid #5980a8;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.1);
}

.table-hover tbody tr:hover {
    background-color: rgba(201, 171, 126, 0.15);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}

/* tablestyles.css */

#data-table tbody {
    height: 200px; /* Set the desired height for the table body */
    overflow-y: scroll; /* Enable vertical scrolling for the table body */
}

#data-table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

/* Additional styles for your table can be added here */

